body.dark,
.dark *:after,
.dark *:before {
  --color-surface-dim: #000000;
  --color-surface: #1B181A;
  --color-surface-bright: #897981;
  --color-surface-container-lowest: #2A2528;
  --color-surface-container-low: #423C3F;
  --color-surface-container: #5F555A;
  --color-surface-container-high: #71646A;
  --color-surface-container-highest: #897981;
  --color-font-primary: #F1EFF0;
  --color-font-secondary: #A1929A;
  --color-font-tertiary: #897981;
  --color-font-disabled: #5F555A;
  --color-divider: #5F555A;
  --color-varients: #423C3F;
  --color-error: #C26C7A;
  --color-error-container: #81271F;
  --color-on-error: #000000;
  --color-on-error-container: #C26C7A;
  --color-primary-50: #451222;
  --color-primary-100: #732840;
  --color-primary-200: #892B49;
  --color-primary-300: #A63057;
  --color-primary-400: #C1416F;
  --color-primary-500: #D4608F;
  --color-primary-600: #E185AD;
  --color-primary-700: #ECAFCB;
  --color-primary-800: #F5D5E4;
  --color-primary-900: #F9EAF2;
  --color-primary-1000: #FBF4F7;
  --color-white: #000000;
  --color-white-fixed: #ffffff;
  --color-gray-50: #2A2528;
  --color-gray-100: #423C3F;
  --color-gray-200: #5F555A;
  --color-gray-300: #71646A;
  --color-gray-400: #897981;
  --color-gray-500: #A1929A;
  --color-gray-600: #BAAFB4;
  --color-gray-700: #D4CDD1;
  --color-gray-800: #E9E5E7;
  --color-gray-900: #F1EFF0;
  --color-gray-1000: #F9F7F8;
  --color-black: #FFFFFF;
  --color-black-fixed: #000000;
}
