body.light,
.light *:after,
.light *:before {
  --color-surface-dim: rgba(0, 0, 0, 0.5);;
  --color-surface: #ECE9EA;
  --color-surface-bright: #ECE9EA;
  --color-surface-container-lowest: #FFFFFF;
  --color-surface-container-low: #F9F7F8;
  --color-surface-container: #F1EFF0;
  --color-surface-container-high: #E9E5E7;
  --color-surface-container-highest: #D4CDD1;
  --color-font-primary: #423C3F;
  --color-font-secondary: #71646A;
  --color-font-tertiary: #897981;
  --color-font-disabled: #A1929A;
  --color-divider: #E9E5E7;
  --color-varients: #F1EFF0;
  --color-error: #A12027;
  --color-error-container: #F9DBD7;
  --color-on-error: #FFFFFF;
  --color-on-error-container: #A12027;
  --color-primary-50: #FBF4F7;
  --color-primary-100: #F9EAF2;
  --color-primary-200: #F5D5E4;
  --color-primary-300: #ECAFCB;
  --color-primary-400: #E185AD;
  --color-primary-500: #D4608F;
  --color-primary-600: #C1416F;
  --color-primary-700: #A63057;
  --color-primary-800: #892B49;
  --color-primary-900: #732840;
  --color-primary-1000: #451222;
  --color-white: #FFFFFF;
  --color-white-fixed: #ffffff;
  --color-gray-50: #F9F7F8;
  --color-gray-100: #F1EFF0;
  --color-gray-200: #E9E5E7;
  --color-gray-300: #D4CDD1;
  --color-gray-400: #BAAFB4;
  --color-gray-500: #A1929A;
  --color-gray-600: #897981;
  --color-gray-700: #71646A;
  --color-gray-800: #5F555A;
  --color-gray-900: #423C3F;
  --color-gray-1000: #2A2528;
  --color-black: #000000;
  --color-black-fixed: #000000;
}